offer-mini {

  .product-thumb {
    width: 150px;
    margin-right:10px;
  }

  .product-image {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
  }

  .product-info {
    background: #fff;
    width: 90%;
    margin: 0 auto;
    margin-top: -30px;
  }
}
