<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button menuToggle="right">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title align="center">
      <i class="fa fa-envelope"></i>
      {{ 'DEMAND' | translate }}
      <span class="label label-primary" *ngIf="counts.demands > 0">{{ counts.demands }}</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="container">
    <div *ngIf="loaded">

      <div class="border" *ngIf="conversations.length > 0">
        <div class="row conversation border border-bottom"
             *ngFor="let message of conversations">
          <div col-3 (click)="openConversation(message.user.id, message.id)">
            <div class="seen" *ngIf="!message.lastMessage.seen"><span class="seen-circle"></span></div>
            <div class="avatar">
              <ion-avatar>
                <img src="{{ message.product.photos[0].url.main || 'assets/icon/user.png' }}" alt="{{ message.product.name }}">
              </ion-avatar>
            </div>
          </div>
          <div col-7 (click)="openConversation(message.user.id, message.id)">
            <div class="data">
              <div class="user-name text text-bold">{{ message.product.name }}</div>
              <div class="message-body" [innerHtml]="message.lastMessage.body"></div>
            </div>
          </div>
          <div col-2 (click)="openConversation(message.user.id, message.id)">
            <ion-avatar class="small float-right">
              <img src="{{ message.user.avatar || 'assets/icon/user.png' }}" alt="{{ message.user.name }}">
            </ion-avatar>
          </div>
          <div col-3 (click)="openConversation(message.user.id, message.id)"></div>
          <div col-9>
            <button class="btn btn-transparent float-right" (click)="deleteDemand(message.id)">
              <i class="fa fa-trash"></i></button>
            <span class="text text-sm">{{ message.lastMessage.created | date:'dd.MM.yyyy HH:mm' }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="alrt alrt-danger" *ngIf="conversations.length == 0">
      {{ 'YOU_HAVE_NO_DEMAND' | translate }}
    </div>
  </div>
  <div *ngIf="!loaded" class="text text-center">
    <div class="fa fa-spin fa-spinner fa-4x"></div>
  </div>
</ion-content>
