<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button menuToggle="right">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title align="center"><span [innerHTML]="title"></span></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-row *ngIf="favs">
    <ion-item col>
      <div class="bg bg-gray padding">
        <span class="text text-heading">{{ 'SEGMENTS' | translate }}</span>
        <span class="label label-primary" *ngIf="following.length > 0">{{ following.length }}</span>
        <div class="offset offset-top">
          <button ion-button class="btn btn-gray text text-gray d-inline-block" *ngIf="!adding" (click)="toggleAdd()">
            {{ 'ADD_SEGMENT' | translate }}
          </button>
          <button class="btn btn-gray d-inline-block text text-gray text-center" ion-button (click)="toggleShowList()">
            <i [class]="'fa fa-angle-' + (showList ? 'right' : 'down')"></i>
          </button>
        </div>
        <div *ngIf="showList">
          <div ion-button class="btn btn-gray btn-segment" *ngFor="let category of following">
            <button class="btn btn-remove-fav" (click)="deleteFromFavs(category.NeoContentCategory.id)">
              <span class="fa fa-times"></span>
            </button>
            <strong>{{ category.NeoContentCategory.name }}</strong>
            <span>{{ category.Region ? category.Region.name : 'Slovensko' }}</span>
          </div>
        </div>
        <div *ngIf="adding">
          <button class="btn btn-white d-block w-full" ion-button (click)="toggleSegment()">{{ 'CHOOSE_SEGMENT' | translate }}</button>
          <button class="btn btn-white d-block w-full" ion-button (click)="toggleLocality()">{{ region ? region.name : 'Nájdi lokalitu' }}</button>
          <div *ngIf="addingSegment" class="text text-wrap">
            <div class="d-inline-block w-half text text-center segment-top"
                 (click)="openSection(i)"
                 *ngFor="let category of categories; let i = index">
              <span class="icofont text text-lg">{{ category.NeoContentCategory.icon }}</span><br>
              {{ category.NeoContentCategory.name }}
            </div>
            <div *ngFor="let category of categories; let i = index">
              <div *ngIf="category.open">
                <button class="btn btn-white-o"
                        (click)="check(child.NeoContentCategory.id)"
                        ion-button
                        *ngFor="let child of category.children">
                  <span [class]="'fa fa-check text text-' + (child.checked ? 'primary' : 'white')"></span>
                  {{ child.NeoContentCategory.name }}
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="addingLocality" class="text text-wrap">
            <div class="d-inline-block w-half text text-center segment-top"
                 *ngFor="let region of regions; let i = index"
                 (click)="selectLocality(i)">
              <img [src]="'https://odfarmara.sk/theme/Odfarmara/img/' + region.image" alt="{{ region.name }}"><br>
              {{ region.name }}
            </div>
          </div>
          <button class="btn btn-gray d-inline-block" ion-button (click)="toggleAdd()">{{ 'CANCEL' | translate }}</button>
          <button class="btn btn-primary d-inline-block" ion-button (click)="toggleAdd(true)">{{ 'SAVE' | translate }}</button>
        </div>
      </div>
      <div class="offset offset-top bg bg-light-red padding text text-center">
        <span class="text text-heading">{{ 'IN_RADIUS' | translate }}</span>
        <span class="label label-primary">{{ area }} KM</span>
        <span class="label label-primary">{{ diameterOffers }} {{ 'OFFERS_COUNT' | translate }}</span>
        <ion-item>
          <ion-range min="10" max="600" (ionChange)="changeArea()" [debounce]="200" color="transparent" [(ngModel)]="area"></ion-range>
        </ion-item>
      </div>
    </ion-item>
  </ion-row>
  <ion-row>
    <div *ngIf="error" class="alrt alrt-danger d-block">
      {{ error }}
    </div>
    <div *ngFor="let offer of offers" col-6>
      <offer-view [product]="offer"></offer-view>
    </div>
    <div *ngIf="offers.length == 0" class="alrt alrt-danger d-block">
      Zadaným kritériám nevyhovujú žuadne položky.
    </div>
  </ion-row>
</ion-content>