page-map {
  padding: 0;
  margin: 0;
  .scroll-content {
    padding: 0 !important;
  }
  #map-farmers {
    width: 100%;
    height: 80vh;
  }

  .btn {
    font-family: 'Open Sans', sans-serif !important;
    display: block !important;
    width: 100%;
    text-align: left;
    .fa {
      margin: 0 !important;
    }
  }

  ion-avatar {
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    img {
      left: -9999px;
      top: -9999px;
      bottom: -9999px;
      right: -9999px;
      position: absolute;
      margin: auto;
      display: block;
      width: 100%;
      height: auto;
      min-height: 100%;
      max-width: none;
    }
  }
}
