<ion-header>
  <ion-navbar>
    <button ion-button class="btn btn-transparent btn-menu-home"(click)="goHome()">
      <ion-icon name="home"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button menuToggle="right">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title align="center">
      <span class="fa fa-map-marker text text-primary"></span>
      {{ 'NEAR_YOU' | translate }}
      <span class="label label-primary" *ngIf="len > 0">{{ len }}</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding (ionScroll)="scroll($event)">
  <iframe id="map-farmers" [src]="url" frameborder="0"></iframe>
  <div class="padding padding-top" *ngFor="let user of (farmers)">
    <button (click)="openFarmer(user)" class="btn btn-white d-block padding">
      <ion-avatar class="float-left">
        <img [src]="user.avatar" alt="">
      </ion-avatar>
      <span class="text text-heading">{{ user.name }}</span>
      <br>
      <br>
      <span class="text text-black">{{ 'RATING' | translate }}</span>
      <span class="rating text text-primary">
        <span *ngFor="let star of calc(user.rating)" [innerHtml]="star"></span>
      </span>
      <span class="clearfix"></span>
    </button>
  </div>
  <div id="bottom"></div>
</ion-content>
