<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button menuToggle="right">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title align="center">
      <i class="fa fa-envelope"></i>
      {{ 'MESSAGES' | translate }}
      <span class="label label-primary" *ngIf="counts.messages > 0">{{ counts.messages }}</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="container">
    <div *ngIf="loaded">
      <div class="border" *ngIf="conversations.length > 0">
        <div class="row conversation border border-bottom" *ngFor="let message of conversations">
          <div (click)="openConversation(message.opponent.id, message)" class="seen" *ngIf="!message.message.seen">
            <span class="seen-circle"></span>
          </div>
          <div class="avatar" (click)="openConversation(message.opponent.id, message)">
            <ion-avatar>
              <img src="{{ message.opponent.avatar }}" alt="{{ message.opponent.name }}">
            </ion-avatar>
          </div>
          <div class="data">
            <div class="user-name text text-heading" (click)="openConversation(message.opponent.id, message)">
              {{ message.opponent.name }}
            </div>
            <div class="message-body"
                 (click)="openConversation(message.opponent.id, message)"
                 [innerHtml]="message.message.body"></div>
            <br>
            <span class="text text-sm" (click)="openConversation(message.opponent.id, message)">{{ message.message.created | date:'dd.MM.yyyy' }}</span>
            <div>
              <button (click)="deleteConversation(message)" class="btn btn-transparent float-right">
                <i class="fa fa-trash"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="alrt alrt-danger" *ngIf="conversations.length == 0">
        {{ 'NO_MESSAGES' | translate }}
      </div>
    </div>
    <div *ngIf="!loaded" class="text text-center">
      <div class="fa fa-spin fa-spinner fa-4x"></div>
    </div>
  </div>
</ion-content>