page-messages {
  ion-avatar {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;

    &.small {
      width: 30px;
      height: 30px;
    }
    img {
      left: -9999px;
      top: -9999px;
      bottom: -9999px;
      right: -9999px;
      position: absolute;
      margin: auto;
      display: block;
      width: 100%;
      height: auto;
      min-height: 100%;
      max-width: none;
    }
  }

  [col-12],
  [col-4],
  [col-8] {
    padding: 0 !important;
  }

  .avatar {
    width: 28%;
  }

  .conversation {
    padding: 10px 5px;
    position: relative;
  }

  .data {
    width: 70%;
    text-overflow: ellipsis;
    display: inline-block;
  }

  .seen {
    position: absolute;
    left: 10px;
    top: 10px;
    display: inline-block;
    width: 10%;
  }

  .message-body {
    font-size: 12px;
  }

  .btn .fa {
    margin-right: 0;
  }
}
