<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button menuToggle="right">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title align="center">
      {{ 'HOME' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="container">
    <div class="row row-header">
      <i class="fa fa-map-marker"></i>
      <strong class="text text-uppercase text-grey text-wide">{{ 'NEAR_YOU' | translate }}</strong>
      <span class="label label-primary">{{ counts.near }}</span>
    </div>
    <ion-scroll scrollX="true">
      <ion-item *ngFor="let product of near" class="w-auto">
        <offer-mini [product]="product"></offer-mini>
      </ion-item>
      <ion-item>
        <div class="product-thumb">
          <button ion-button class="btn btn-primary" (click)="openMap()">
            <i class="fa fa-map-marker"></i>
            {{ 'MAP' | translate }}
          </button>
        </div>
      </ion-item>
    </ion-scroll>
    <button class="btn btn-white offset offset-top" ion-button (click)="openMap()">
      <i class="fa fa-map-marker"></i>
      {{ 'SHOW_ON_MAP' | translate }}
    </button>
    <div class="row row-header">
      <i class="fa fa-heart-o"></i>
      <strong class="text text-uppercase text-grey text-wide">{{ 'MY_FOLLOWING' | translate }}</strong>
      <span class="label label-primary">{{ counts.favourites }}</span>
    </div>
    <ion-scroll scrollX="true">
      <ion-item *ngFor="let product of favourites" class="w-auto">
        <offer-mini [product]="product"></offer-mini>
      </ion-item>
      <ion-item class="product-thumb w-auto">
        <button ion-button class="btn btn-primary" (click)="showList('/neo_content/neo_content_offers/show_favourites', counts.favourites, 'Moje Sledované')">
          <i class="fa fa-heart-o"></i>
          {{ 'ALL' | translate }}
        </button>
      </ion-item>
    </ion-scroll>
    <button class="btn btn-white offset offset-top" ion-button (click)="showList('/neo_content/neo_content_offers/show_favourites', counts.favourites, 'Moje Sledované')">
      <i class="fa fa-heart-o"></i>
      {{ 'ALL_FOLLOWING' | translate }}
    </button>
  </div>
</ion-content>