<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button menuToggle="right">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title align="center">
      {{ 'HOME' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="container">
    <div class="row row-header">
      <i class="fa fa-envelope-o"></i>
      <strong class="text text-uppercase text-grey text-wide">{{ 'NEW_MESSAGES' | translate }}</strong>
      <span class="label label-primary">{{ counts.messages }}</span>
    </div>
    <div class="border" *ngIf="counts.messages > 0">
      <div class="row conversation border border-bottom padding"
           *ngFor="let message of conversations">
        <ion-row class="seen" (click)="openConversation(message.opponent.id)">
          <div col-1>
            <span class="seen-circle" *ngIf="!message.message.seen && message.opponent.id != me.id"></span>
          </div>
        </ion-row>
        <ion-row class="w-full">
          <div col-2 (click)="openConversation(message.opponent.id)">
            <ion-avatar class="round">
              <img src="{{ message.opponent.avatar }}" alt="{{ message.opponent.name }}">
            </ion-avatar>
          </div>
          <div col-10>
            <div (click)="openConversation(message.opponent.id)">{{ message.message.body }}</div>
            <div>
              <button class="btn btn-transparent float float-right text text-gray text-right text-md"
                      (click)="deleteConversation(message)">
                <i class="fa fa-trash"></i>
              </button>
              <span class="text text-light text-sm" (click)="openConversation(message.opponent.id)">
                {{ message.message.created | date:'dd.MM.yyyy' }}
              </span>
            </div>
          </div>
        </ion-row>
      </div>
    </div>
    <div class="alrt alrt-danger" *ngIf="counts.messages == 0">
      {{ 'NO_NEW_MESSAGES' | translate }}
    </div>
    <div class="row row-header offset offset-top">
    </div>
    <button ion-button class="btn btn-white" (click)="openMessages()">
      <i class="fa fa-envelope-o"></i>
      {{ 'ALL_MESSAGES' | translate }}
    </button>
    <div class="row row-header offset offset-top">
    </div>
    <div class="row offset offset-top">
      <button class="btn btn-offer-my" ion-button (click)="showMyList()">
        <span class="fa fa-leaf"></span>
        <span>{{ 'MY_OFFERS' | translate }}</span>
      </button>
      <button
              class="btn btn-offer-add btn-toggle-offer" ion-button (click)="openOfferFormModal()">
        <span class="text text-lg">+</span>
        <span>{{ 'ADD_OFFER' | translate }}</span>
      </button>
    </div>
  </div>
</ion-content>
